{% if q.options %}
    <div class='radioGroupBelow' style='padding-left:10px;'>
    {% for option in q.options %}
    <div style='display: inline-block; text-align:center; width: 200px; word-wrap: break-word;'>
        <label>{{ option.text }}<input type="radio" name="{{ q.question.id }}" value='{{ option.text }}' data-bvalidator='required' data-bvalidator-msg='Please answer all questions on this page' /></label>   
    </div>
    {% endfor %}
    </div>
    <br>
    <br>
{% else %}
    <input type='text' class='form-control' id='{{ q.question.id }}' name='{{ q.question.id }}' style='width: 500px;' data-bvalidator='required' data-bvalidator-msg='Please answer all questions on this page' />
    <br>
    <br>
{% endif %}