{% extends "pages/base.html" %}

{% block title %}Landing Page{% endblock %}

{% block head %}

<script type="text/javascript">

function yesvalidator() {

    if($('input[name=18older]:checked').val() == 'No') {

        window.location.replace('/thanks');
        return false;
    }
    return true;
}
$(document).ready(function() {
    var optionsBootstrap = {
        classNamePrefix: 'bvalidator_bootstrap_',
        position: {x:'top', y:'center'},
        offset:     {x:15, y:0},
        singleError: true,
        template: '<div class="{errMsgClass}"><div class="bvalidator_bootstrap_arrow"></div><div class="bvalidator_bootstrap_cont1">{message}</div></div>',    
        templateCloseIcon: '<div style="display:table"><div style="display:table-cell">{message}</div><div style="display:table-cell"><div class="{closeIconClass}">&#215;</div></div></div>'
    };
    
    $('#beginform').bValidator(optionsBootstrap);

});
</script>

{% endblock %}

{% block content %}

<div id='text' style='padding-top: 60px;' class='row'>

    <div class='col-md-3'>

    </div>

    <div class='col-md-6'>

        <form id='beginform' onsubmit='return yesvalidator();' action='/welcome' method='POST'>{% csrf_token %}

            <h1>Welcome to our survey on ethical behavior.</h1>

            <p>In this survey, you will be asked to answer various questions about your past behavior and habits.</p>

            <p>Some of the questions pertain to personal and sensitive information and you may choose not to answer any of them.</p>

            <p>The survey should take you less than 5 minutes.</p>

            <p>Your responses to this survey are anonymous and will be kept confidential.</p>

            <p>Your participation in this survey is entirely voluntary and you may quit this survey at any time.</p>

            <p>You must be at least 18 years old to complete this survey.</p>

            <br>

            <div align='center'>

                <p><strong>I confirm that I am 18 or older, that I have read and understood the above, and that I would like to complete this survey.</strong><br>
                    <label style='padding-left:10px; padding-right:10px;'>Yes</label><input type="radio" name="18older" value='Yes' />
                    <label style='padding-left:10px; padding-right:10px;'>No</label><input type="radio" name="18older" value='No'/></p>
                <br>

                <input type='Submit' value='Begin' class='btn btn-primary'/>

            </div>
        </form>

    </div>

</div>

<noscript>
<style>
#text {

    display: none;
}
</style>

You need to have javascript enabled on your browser to continue. Please see instructions on how to do so for your browser <a href="http://enable-javascript.com/">here.</a> Once enabled, you can refresh this page to continue.
</noscript>

{% endblock %}
