{% extends 'pages/base.html' %}

{% block title %}Survey - Page {{ current_group|add:-4 }}{% endblock %}

{% block head %}

<script type="text/javascript">
$(document).ready(function() {
    var optionsBootstrap = {
        classNamePrefix: 'bvalidator_bootstrap_',
        position: {x:'top', y:'center'},
        offset:     {x:15, y:0},
        singleError: true,
        template: '<div class="{errMsgClass}"><div class="bvalidator_bootstrap_arrow"></div><div class="bvalidator_bootstrap_cont1">{message}</div></div>',    
        templateCloseIcon: '<div style="display:table"><div style="display:table-cell">{message}</div><div style="display:table-cell"><div class="{closeIconClass}">&#215;</div></div></div>'
    };
});
</script>

<style>
.blank {

    padding-left: 20px;
    padding-right: 20px;
}

.inline-radio {

    display: inline-block;
}
</style>

{% endblock %}

{% block content %}

<div class='row'>
    <div class='col-md-12'>
        
    </div>
</div>

{% endblock %}