<!DOCTYPE html>
<html lang="{% if 'language' in request.session %}{{ request.session.language }}{% else %}en{% endif %}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <!-- include all scripts and css files that might be needed later -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/se.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bvalidator.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bvalidator.theme.bootstrap.css">

    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/se_english.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.bvalidator.js"></script>
    {% block head %}
    {% endblock %}
    </head>
    <body style='padding:20px;'>
    <div id="wrap">
      {% block navbar %}
      {% endblock %}
      <div class="container">
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
      {% endif %}
      {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
      {% else %}
          {% block content %}
          
          {% endblock %}
      </div>
      {% endif %}
      <div id="push"></div>
    </div>
    {% block footer %}
    {% endblock %}
    </body>
</html>